html {
    background-color: rgb(43, 43, 43);
    color: aquamarine;
    font-weight: 50;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: aquamarine;
}

h1 {
    margin: 0.8em 0 1em 0;
    text-align: center;
}

p {
    color: aquamarine;
}

/* UNUSED
.main-content {
    // border: 0.1em solid rgb(112, 255, 200);
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
*/


#spreadsheet-wrapper {
    width: 99%;
    height: 90vh;
    position: relative;
    overflow: scroll;
    border: 0.04em solid rgb(143, 143, 143);
}

.inputRow,
button {
    margin: 0.8em;
}

#sheet-selector{
    display: flexbox;
}

#sheet-selector div{
    border: 0.04em solid rgb(143, 143, 143);
    max-width: 10%;
    display: inline-block;
}
#sheet-selector div input{
    background-color: inherit;
    border: none;
    color: white;
    margin-left: 1%;
    text-align: center;
    max-width: 98%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#sheet-row button{
    display: inline;
    background-color: inherit;
    border: none;
    color: white;
    margin-left: 1%;
    text-align: center;
    max-width: 98%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#sheet-selector .active{
    background-color: rgb(78, 78, 78);
}
